---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		The internet is broken, and we're not just talking about the wifi. What used to be a bold frontier for innovation and discovery has been morphed into a cesspit: Social media and community forums are drowning in slop. Every corner of the web is inundated with bitcoin rug-pull schemes, shady prediction markets, and whatever new scam comes next. Software and hardware is being enshittified nonstop forcing consumers to pay more money for worse products. And everyone is being force-fed solutions nobody wants by people who don't understand their needs and don't care about their fundamental rights. What's worse, the consequences of all this awfulness has been seeping out into the physical world more and more every day.
	</p>
	
	<p>
		I/O Riot is committed to exploring the ripples caused by technological change in our world: the good, the bad, and the downright nefarious. We need to move past the naive “look at this shiny new thing” narrative that pervaded tech criticism for far too long and get to the heart of what the hardware and software we're being given means for society.
	</p>

	<p>
		It's time get loud, to make a scene, and light some (digital) fires under internet users. Anything else is a disservice to our communities and the people these technologies claim to benefit.
	</p>

	<p>
		But enough soapboxing for now. Thanks for stopping by and let us know if there’s anything you think we should be covering!
	</p>

	<p>
		Contact: <a href="@mailto:henry@ioriot.com">henry@ioriot.com</a><br>
		Tips: <a href="@mailto:tips@ioriot.com">tips@ioriot.com</a> (Unencrypted)<br>
		<a href="/ethicspolicy">Ethics Policy</a><br><br>
	</p>

	<p>
		Created by <a href="https://www.henry-boyd.com/">Henry Boyd</a>, heavily inspired by <a href="https://owickstrom.github.io/the-monospace-web/">The Monospace Web</a><br>
	</p>

	<p style="font-weight: bold; display: inline;">Quick Disclaimer:</p> Any opinions expressed here are my own and not those of my current employer
</Layout>
