---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="Ethics Policy"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 5 2025')}
	heroImage=""
>
	<p>
		Last Updated April 13, 2025
	</p>

	<p>
		An ethics policy isn't something you see often on an independent/hacked together publication or whatever you want to call this website. But I think it's worth having, even if it sometimes makes things a little trickier for one random guy on the internet. Especially while living through such trying times, where we repeatedly see ethics take a backseat (if it's given any consideration at all) to the pursuit of profit, power, and maintaining the status quo. It takes time and effort to maintain a professional standard, but is well worth the reward of ensuring the independence and integrity of this publication while maintaining the trust of our audience.
	</p>

	<p>
		In some aspects maintaining an ethical standard can be even more difficult for a one-man band like myself. I'm more prone to bias without colleagues to offer a countering opinion or debate potential conflicts with. And the fact of the matter is that I do work in this industry and plan to be for a very long time, so all of my writing will hold opinions that are formed by my background and life experiences. But no matter what, I promise I will do everything I can to be aware of my own biases and ensure that they do not interfere with this publication's mission.
	</p>

	<p>
		I also want to give shoutouts to <a href="https://www.theverge.com/ethics-statement">The Verge</a> and <a href="https://www.platformer.news/ethics/">Platformer</a>, whose ethics policies heavily influenced this one. We're all better off when we support news platforms that believe in editorial independence and hold themselves, along with the industry, to a higher standard.
	</p>

	<p>
		<ul>
			<li>We don’t accept things of value from companies or from their PR firms</li>
			<li>We do not accept preconditions for coverage of a story that require us to say certain things</li>
			<li>We do not give subjects of our reporting the ability to preview or approve interview questions, nor do we allow them to review our stories before we publish</li>
			<li>Our editorial team does not produce paid content, ever</li>
			<li>When we make a mistake, we strive to correct the error promptly and disclose the correction to readers.</li>
			<li>We pay for all travel expenses to all events, including transportation, food, and hotels</li>
			<li>We disclose any and all relationships to companies or persons that are the subject of our stories</li>
			<li>We may at times hold individual stocks in companies, but will disclose any and all holdings in the course of our stories</li>
			<li>Similarly, we don't foresee it happening very often (if at all) but we may sometimes have cryptocurrency holdings to understand and report our stories, in which case we will disclose any and all holdings</li>
			<li>We may sometimes accept free trials of software or hardware to report on technology, but will always buy the product or service ourselves if we end up using it beyond our reporting needs</li>
		</ul>
	</p>

	<p>
		Thanks for stopping by, if there's anything in this policy that you think needs to be clarified, changed, or updated please reach out!
	</p>

	<p>
		Contact: <a href="@mailto:henry@ioriot.com">henry@ioriot.com</a><br>
		Tips: <a href="@mailto:tips@ioriot.com">tips@ioriot.com</a> (Unencrypted)<br>
	</p>
</Layout>
