---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h1><a href="/">{SITE_TITLE}</a></h1>
		<div class="links-border">
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/tags/news">News</HeaderLink>
			<HeaderLink href="/tags/culture">Culture</HeaderLink>
			<HeaderLink href="/tags/policy">Policy</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin-bottom: 4rem;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	h1 {
		text-align: center;
	}

	.links-border {
		width: 100%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.internal-links {
		margin: 0;
		display: flex;
		justify-content: center;
		padding: 1rem 6rem;
	}

	nav a {
		padding: 1em 1em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		margin: 0;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
