---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Search from "astro-pagefind/components/Search";
import ButtondownSubscribeHeader from "./ButtondownSubscribeHeader.astro";
---

<header>
	<nav>
		<h1><a href="/">{SITE_TITLE}</a></h1>
		<h3>Reset the Net</h3>
		<div class="links-border">
		<div class="internal-links">
			<HeaderLink href="/news">News</HeaderLink>
			<HeaderLink href="/dubious-charts">Charts</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
			<ButtondownSubscribeHeader></ButtondownSubscribeHeader>
		</div>
		{/* <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} /> */}
	</nav>
</header>
<style>
	header {
		margin-bottom: 4rem;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	#search {
		max-width: 300px;
		margin: 0;
	}

	h1 {
		text-align: center;
		margin-bottom: .25rem;
	}
	h3 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 2em;
		font-style: italic;
		font-weight: 500;
	}

	.links-border {
		display: flex;
		justify-content: center;
		grid-gap: 1rem;
		width: 100%;
		padding: 1rem 0;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.internal-links {
		margin: 0;
		display: flex;
		justify-content: center;
	}

	nav a {
		padding: 1em 1em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		margin: 0;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	@media (max-width: 700px) {
		.links-border {
			display: grid;
			grid-template-rows: 1fr 1fr;
		}
	}
	@media (max-width: 500px) {
		h1 {
			font-size: 1.85rem;
		}
		
		.social-links {
			display: none;
		}
		.internal-links {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			text-align: center;
			padding: 0;
		}
	}
</style>
